<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>El portal de tus juegos</p>
    <a href="/quizes/question">Comienza a jugar</a>
  </body>
</html>

