<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<link rel="icon" href="favicon.ico" type="image/x-icon" />
    <h1><%= title %></h1>
    <p>El portal de tus juegos</p>
  </body>
</html>

