* { margin: 0; padding: 0; }
body { font: 16px "Lucida Grande", Helvetica, Arial, sans-serif; }

#page{ margin:2% auto; color:white;}
#page >.main {border: 1px solid #999; padding: 1%; color:black;}
section > div {padding: 20px;}
header, nav, section, footer {background: #eee; text-align: center;}
nav span {margin: 0px 10px 0px 0px;}