    <form method="get" action="/quizes/answer">
    	<h3><%= pregunta %></h3>
    	<input type="text" name="respuesta" placeholder="Responde aquí">
    	<input type="submit" value="Enviar">
    </form>